body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0b0b0f;
  color: #ffffff;
}

header {
  text-align: center;
  padding: 20px;
}

header h1 {
  color: #e1306c;
}

.container {
  display: flex;
  padding: 20px;
  gap: 20px;
}

.model-box {
  position: relative;
  width: 60%;
}

.model-box img {
  width: 100%;
  border-radius: 10px;
  border: 2px solid #333;
}

/* HOTSPOTS */
.hotspot {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #e1306c;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 10px #e1306c;
}

.hotspot:hover {
  transform: scale(1.3);
}

.info-box {
  width: 40%;
  background: #14141c;
  padding: 20px;
  border-radius: 10px;
}

.info-box h2 {
  color: #f77737;
}

footer {
  text-align: center;
  padding: 10px;
  color: #aaa;
}
